@import './base.css';

#app {
  height: 100vh;
  background: #f9f7f7;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  /* background-image: url('./logo.png'); */
  /* background-repeat: no-repeat; */
}
/* #app {
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
